# Internship second Assignment 
# Regular Expression.regex

submitted By Rushda Shabbir

batch -DS2405

In [1]:
import regex as re
import numpy as np
import pandas as pd

# 1 Question

In [2]:
#Question 1- Write a Python program to replace all occurrences of a space, comma, or dot with a colon.
text= 'Python Exercises, PHP exercises.'
pattern='[\s,.]'
replace=re.sub(pattern,":",text)
print(replace)
                        
                            #or
# we can use this also without regex module we can replace it with replace method
text = 'Python Exercises, PHP exercises.'
rplc= text.replace(' ', ':').replace(',', ':').replace('.', ':')
print(rplc)

Python:Exercises::PHP:exercises:
Python:Exercises::PHP:exercises:

# 2 question

In [3]:
#Question 2-  Create a dataframe using the dictionary below and remove everything (commas (,), !, XXXX, ;, etc.)
#from the columns except words.
Dictionary={'SUMMARY' : ['hello, world!', 'XXXXX test', '123four, five:; six...']}
Dictionary

dict=pd.DataFrame(data=Dictionary)

pattern=r'\W+|\AX+|\d+'
dict['SUMMARY']=dict['SUMMARY'].str.replace(pattern,' ',regex=True)
print(dict)

           SUMMARY
0     hello world
1             test
2   four five six

In [4]:
                               #OR we can write like this also
Dictionary1={'SUMMARY':['hello, world!', 'XXXXX test', '123four, five:; six...']}

dict1=pd.DataFrame(data=Dictionary1)

dict1['SUMMARY'] = dict1['SUMMARY'].str.replace(r'(XXXXX|\d+|\W+)', ' ',regex=True)
print(dict1)

           SUMMARY
0     hello world
1             test
2   four five six

In [5]:
                                #OR we can write pattern like this also
Dictionary3={'SUMMARY':['hello, world!', 'XXXXX test', '123four, five:; six...']}

dict3=pd.DataFrame(data=Dictionary3)
dict3['SUMMARY'] = dict3['SUMMARY'].str.replace(r'[^\w\s]|XXXXX|\d+', '',regex=True)
print(dict3)

         SUMMARY
0    hello world
1           test
2  four five six

# 3 question

In [6]:
#Question 3- Create a function in python to find all words that are at least 4 characters long in a string.
# The use of the re.compile() method is mandatory.
pattern='[A-Za-z]{4}'
print(type(pattern))

object_patern=re.compile(pattern)
print(type(object_patern))

string='Banana are not only very delicious pieces of fruit. they are also supper healthy.Eating two bananas a day can do wonders for you health'
result=object_patern.findall(string)
print(result)

<class 'str'>
<class '_regex.Pattern'>
['Bana', 'only', 'very', 'deli', 'ciou', 'piec', 'frui', 'they', 'also', 'supp', 'heal', 'Eati', 'bana', 'wond', 'heal']

In [7]:
#OR
def four_words(string):
    ptrn = r'\w{4}'
    regex = re.compile(ptrn)
    result= regex.findall(string)
    return result
string = 'Banana are not only very delicious pieces of fruit. they are also supper healthy.Eating two bananas a day can do wonders for you health'
result1=four_words(string)
print(result1)

['Bana', 'only', 'very', 'deli', 'ciou', 'piec', 'frui', 'they', 'also', 'supp', 'heal', 'Eati', 'bana', 'wond', 'heal']

# 4 question

In [8]:
#Question 4- Create a function in python to find all three, four, and five character words in a string.
#The use of the re.compile() method is mandatory.
pattern='[A-Za-z]{3,5}'
print(type(pattern))

object_patern=re.compile(pattern)
print(type(object_patern))

string='Banana are not only very delicious pieces of fruit. they are also supper healthy.Eating two bananas a day can do wonders for you health'
result=object_patern.findall(string)
print(result)

<class 'str'>
<class '_regex.Pattern'>
['Banan', 'are', 'not', 'only', 'very', 'delic', 'ious', 'piece', 'fruit', 'they', 'are', 'also', 'suppe', 'healt', 'Eatin', 'two', 'banan', 'day', 'can', 'wonde', 'for', 'you', 'healt']

In [9]:
                        #OR
def words_three_to_five(string):
    pattern='\w{3,5}'
    regex_object=re.compile(pattern)
    result=regex_object.findall(string)
    return result
string='Banana are not only very delicious pieces of fruit. they are also supper healthy.Eating two bananas a day can do wonders for your health'
result2=words_three_to_five(string)
print(result2)

['Banan', 'are', 'not', 'only', 'very', 'delic', 'ious', 'piece', 'fruit', 'they', 'are', 'also', 'suppe', 'healt', 'Eatin', 'two', 'banan', 'day', 'can', 'wonde', 'for', 'your', 'healt']

# 5 question

In [10]:
#Question 5- Create a function in Python to remove the parenthesis in a list of strings. The use of the re.compile() method is mandatory.
Sample_Text=["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]
pattern='[()]' 
regex_pat=re.compile(pattern)
print(type(regex_pat))

remove=[regex_pat.sub('',s) for s in Sample_Text]
print(remove)

<class '_regex.Pattern'>
['example .com', 'hr@fliprobo .com', 'github .com', 'Hello Data Science World', 'Data Scientist']

In [11]:
                                                    #OR
Sample_Text="example (.com). hr@fliprobo (.com) .github (.com).Hello (Data Science World). Data (Scientist)"
pattern='[()]'
regex_pat=re.compile(pattern)
print(type(regex_pat))

remove=regex_pat.sub('',Sample_Text)
print(remove)

<class '_regex.Pattern'>
example .com. hr@fliprobo .com .github .com.Hello Data Science World. Data Scientist

In [12]:
def remove_parentheses(strings):
    pattern = '[()]' 
    regex = re.compile(pattern)
    result= [regex.sub('', s) for s in strings]
    return result

Sample_Text = ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]

result_text = remove_parentheses(Sample_Text)
print(result_text)

['example .com', 'hr@fliprobo .com', 'github .com', 'Hello Data Science World', 'Data Scientist']

# 6 question

In [13]:
#Question 6- Write a python program to remove the parenthesis area from the text stored in the text file using Regular Expression.

Sample_Text: ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]

#Expected Output: ["example", "hr@fliprobo", "github", "Hello", "Data"]

#Note- Store given sample text in the text file and then to remove the parenthesis area from the text

file = open("myfile_remove_paren.txt", "w")
file.write('Sample Text: ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]')
file.close()

In [14]:
with open("myfile_remove_paren.txt") as file:
    for line in file:
        find=re.sub(r'[()]',"",line)
        print(find)

Sample Text: ["example .com", "hr@fliprobo .com", "github .com", "Hello Data Science World", "Data Scientist"]

In [15]:
                                #OR
with open("myfile_remove_paren.txt") as file:
    for line in file:
        find=re.sub(r'[(.com)]',"",line)
        print(find)

Saple Text: ["exaple ", "hr@fliprb ", "github ", "Hell Data Siene Wrld", "Data Sientist"]

In [16]:
                                #OR also
with open("myfile_remove_paren.txt") as file:
    for line in file:
        modified_line = re.sub(r'\([^)]*\)', '', line)
        # Print the modified line
        print(modified_line)

Sample Text: ["example ", "hr@fliprobo ", "github ", "Hello ", "Data "]

# 7 question

In [17]:
#Question 7- Write a regular expression in Python to split a string into uppercase letters.
sample_text = "ImportanceOfRegularExpressionsInPython"
pattern = '[A-Z]*[a-z]*' 
result = re.findall(pattern, sample_text)
print(result)

['Importance', 'Of', 'Regular', 'Expressions', 'In', 'Python', '']

In [18]:
                    #OR
sample_text = "ImportanceOfRegularExpressionsInPython"
pattern = '(?=[A-Z])'
result = re.split(pattern, sample_text)
print(result)

['', 'Importance', 'Of', 'Regular', 'Expressions', 'In', 'Python']

# 8 question

In [19]:
#Question 8- Create a function in python to insert spaces between words starting with numbers.
Sample_Text='RegularExpression1IsAn2ImportantTopic3InPython'
pattern='(?=\d)'
match_replace=re.sub(pattern," ",Sample_Text)
print(match_replace)

RegularExpression 1IsAn 2ImportantTopic 3InPython

# 9 question

In [20]:
#Question 9- Create a function in python to insert spaces between words starting with capital letters or with numbers.
Sample_text='RegularExpression1IsAn2ImportantTopic3InPython'
pattern='(?=[A-Z])'
add_space=re.sub(pattern,' ',Sample_text)
print(add_space)

 Regular Expression1 Is An2 Important Topic3 In Python

# 10 question

#Question 10- Use the github link below to read the data and create a dataframe. After creating the dataframe extract the first 6 letters of each country and store in the dataframe under a new column called first_five_letters.

In [21]:
url='https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv'
df=pd.read_csv(url)
df

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176
...,...,...,...,...,...,...,...,...,...,...,...,...
153,Rwanda,Sub-Saharan Africa,154,3.465,0.03464,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,0.67042
154,Benin,Sub-Saharan Africa,155,3.340,0.03656,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,1.63328
155,Syria,Middle East and Northern Africa,156,3.006,0.05015,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,0.32858
156,Burundi,Sub-Saharan Africa,157,2.905,0.08658,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,1.83302
157,Togo,Sub-Saharan Africa,158,2.839,0.06727,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,1.56726

In [22]:
# here convert intio data frame
df=pd.DataFrame(data=df)
df

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176
...,...,...,...,...,...,...,...,...,...,...,...,...
153,Rwanda,Sub-Saharan Africa,154,3.465,0.03464,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,0.67042
154,Benin,Sub-Saharan Africa,155,3.340,0.03656,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,1.63328
155,Syria,Middle East and Northern Africa,156,3.006,0.05015,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,0.32858
156,Burundi,Sub-Saharan Africa,157,2.905,0.08658,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,1.83302
157,Togo,Sub-Saharan Africa,158,2.839,0.06727,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,1.56726

In [23]:
#check data type
df.dtypes

Country                           object
Region                            object
Happiness Rank                     int64
Happiness Score                  float64
Standard Error                   float64
Economy (GDP per Capita)         float64
Family                           float64
Health (Life Expectancy)         float64
Freedom                          float64
Trust (Government Corruption)    float64
Generosity                       float64
Dystopia Residual                float64
dtype: object

In [24]:
df.isnull().sum()

Country                          0
Region                           0
Happiness Rank                   0
Happiness Score                  0
Standard Error                   0
Economy (GDP per Capita)         0
Family                           0
Health (Life Expectancy)         0
Freedom                          0
Trust (Government Corruption)    0
Generosity                       0
Dystopia Residual                0
dtype: int64

In [25]:
#here search which is mention in question extract 6 1st laters
#here change the name of the 0th column by using rename method
pattern='^([A-Za-z]{6})' 
a=df['Country'].str.extract(pattern)
a = a.rename(columns={0: 'first_five_letters'})
a

    first_five_letters
0               Switze
1               Icelan
2               Denmar
3               Norway
4               Canada
..                 ...
153             Rwanda
154                NaN
155                NaN
156             Burund
157                NaN

[158 rows x 1 columns]

In [26]:
                                              #OR
                                #here creat new column in data frame
#or we can creat coloumn directry into data frame
pattern='^([A-Za-z]{6})'
df['first_five_later']=df['Country'].str.extract(pattern)
df=pd.DataFrame(data=df)
df

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,first_five_later
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,Switze
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,Icelan
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,Denmar
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,Norway
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,Canada
...,...,...,...,...,...,...,...,...,...,...,...,...,...
153,Rwanda,Sub-Saharan Africa,154,3.465,0.03464,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,0.67042,Rwanda
154,Benin,Sub-Saharan Africa,155,3.340,0.03656,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,1.63328,NaN
155,Syria,Middle East and Northern Africa,156,3.006,0.05015,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,0.32858,NaN
156,Burundi,Sub-Saharan Africa,157,2.905,0.08658,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,1.83302,Burund
157,Togo,Sub-Saharan Africa,158,2.839,0.06727,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,1.56726,NaN

In [27]:
                                                    #OR 
#we can search like this also without regex model we can extract by indexes
b=df['Country'].str[:6]
b=pd.DataFrame(data=b)
b

    Country
0    Switze
1    Icelan
2    Denmar
3    Norway
4    Canada
..      ...
153  Rwanda
154   Benin
155   Syria
156  Burund
157    Togo

[158 rows x 1 columns]

In [28]:
#we can use this method also we can create directly into data frame also 
df1=df1['first_five_letters'] = df['Country'].str[:6]
df1=pd.DataFrame(data=df)
df1.head(10)

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,first_five_later
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,Switze
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,Icelan
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,Denmar
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,Norway
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,Canada
5,Finland,Western Europe,6,7.406,0.03140,1.29025,1.31826,0.88911,0.64169,0.41372,0.23351,2.61955,Finlan
6,Netherlands,Western Europe,7,7.378,0.02799,1.32944,1.28017,0.89284,0.61576,0.31814,0.47610,2.46570,Nether
7,Sweden,Western Europe,8,7.364,0.03157,1.33171,1.28907,0.91087,0.65980,0.43844,0.36262,2.37119,Sweden
8,New Zealand,Australia and New Zealand,9,7.286,0.03371,1.25018,1.31967,0.90837,0.63938,0.42922,0.47501,2.26425,NaN
9,Australia,Australia and New Zealand,10,7.284,0.04083,1.33358,1.30923,0.93156,0.65124,0.35637,0.43562,2.26646,Austra

# 11 question

In [29]:
#Question 11- Write a Python program to match a string that contains only upper and lowercase letters, numbers, and underscores.
pattern='[A-z_a-z0-9]+'
str="Virat is a cricket player Earn $1lakh who has@born on November_5-1988"
match_str=re.findall(pattern,str)
print(match_str)

print("Values In New Line:",'\n'.join(match_str))

['Virat', 'is', 'a', 'cricket', 'player', 'Earn', '1lakh', 'who', 'has', 'born', 'on', 'November_5', '1988']
Values In New Line: Virat
is
a
cricket
player
Earn
1lakh
who
has
born
on
November_5
1988

In [30]:
                                            #OR
def contain_upper_lower_underscore_num(str):
    pattern = '[A-z_a-z0-9]+'
    result=[re.findall(pattern,s) for s in str]
    return result
str=["Virat is a cricket player Earn $1lakh who has@born on November_5-1988","Hello_dataScience2405", "RushdaShabbir", "123_ABC-123", "Target@String"]
rslt=contain_upper_lower_underscore_num(str)
print(rslt)

for result in rslt:
    print("\n",result)

[['Virat', 'is', 'a', 'cricket', 'player', 'Earn', '1lakh', 'who', 'has', 'born', 'on', 'November_5', '1988'], ['Hello_dataScience2405'], ['RushdaShabbir'], ['123_ABC', '123'], ['Target', 'String']]

 ['Virat', 'is', 'a', 'cricket', 'player', 'Earn', '1lakh', 'who', 'has', 'born', 'on', 'November_5', '1988']

 ['Hello_dataScience2405']

 ['RushdaShabbir']

 ['123_ABC', '123']

 ['Target', 'String']

# 12 question

In [31]:
#Question 12- Write a Python program where a string will start with a specific number.
string="123abcd DataScience is the source of DataAnalysis 30 persent people work in this field who are belong non technical backgraound"
partn='^[\d]+'
match=re.match(partn,string)
print(match)

<regex.Match object; span=(0, 3), match='123'>

In [32]:
                                #OR
string="123abcd DataScience is the source of DataAnalysis 30 persent people work in this field who are belong non technical backgraound"
partn='^[\d]+'
match=re.findall(partn,string)
print(match)

['123']

In [33]:
string="123abcd DataScience is the source of DataAnalysis 30 persent people work in this field who are belong non technical backgraound"
partn='\d+'
match=re.search(partn,string)
print(match.group())

123

# 13 question

In [34]:
#Question 13- Write a Python program to remove leading zeros from an IP address
ip_address= '192.168.0.1'
pattrn='[0]+'
remove_zero=re.sub(pattrn,"",ip_address)
print(remove_zero)

192.168..1

# 14 question

In [35]:
#Question 14- Write a regular expression in python to match a date string in the form of Month name followed by day number and year stored in a text file.sample_text ='On August 15th 1947 that India was declared independent from British colonialism, and the reins of control were handed over to the leaders of the Country'
date_text='On August 15th 1947 that India was declared independent from British colonialism, and the reins of control were handed over to the leaders of the Country'
regex_ob= '(?:August)\s+\d{2}(?:th)\s+\d{4}'
extract_date = re.findall(regex_ob, date_text)
print(extract_date)

['August 15th 1947']

In [36]:
file1 = open("file_extract_month.txt", "w")
file1.write('On August 15th 1947 that India was declared independent from British colonialism, and the reins of control were handed over to the leaders of the Country')
file1.close()

In [37]:
with open("file_extract_month.txt") as files:
    for i in files:
        finds=re.findall(r'(?:August)\s+\d{2}(?:th)\s+\d{4}',i)
        print(finds)

['August 15th 1947']

# 15 question

In [38]:
#Question 15- Write a Python program to search some literals strings in a string. 
saml_strt='The quick brown fox jumps over the lazy dog.'
re_object='(fox|dog|horse)'
matc=re.findall(re_object,saml_strt)
print(matc)

['fox', 'dog']

In [39]:
                                    #OR
def search_words(sting):
    pattern = '(fox|dog|horse)' 
    regex = re.compile(pattern)
    result= [regex.findall(s) for s in sting]
    return result

searchf=['The quick brown fox jumps over the lazy dog.']

result_text = search_words(searchf)
print(result_text)

[['fox', 'dog']]

In [40]:
                                            #OR
s_strng= 'The quick brown fox jumps over the lazy dog.'

search_list = ['fox', 'dog', 'horse']

find_strings= []

for search_str in search_list:
    if search_str in s_strng:
        find_strings.append(search_str)

print("Find strings:", find_strings)

Find strings: ['fox', 'dog']

# 16 question

In [41]:
#Question 16- Write a Python program to search a literals string in a string and also find the location within the original string where the pattern occurs
literal_str='The quick brown fox jumps over the lazy dog.'
regex_pat=r'\bfox\b'
ser=re.search(regex_pat,literal_str)
print(ser)

<regex.Match object; span=(16, 19), match='fox'>

In [42]:
                                          #OR
literal_str='The quick brown fox jumps over the lazy dog.'
regex_pat=r'f\w+x\b'
ser=re.search(regex_pat,literal_str)
print(ser)

<regex.Match object; span=(16, 19), match='fox'>

# 17 question

In [43]:
#Question 17- Write a Python program to find the substrings within a string.
str_sub='Python exercises, PHP exercises, C# exercises'
Pattern='exercises'
sub_string=re.findall(Pattern,str_sub)
print(sub_string)

['exercises', 'exercises', 'exercises']

# 18 question

In [44]:
#Question 18- Write a Python program to find the occurrence and position of the substrings within a string.str_sub='Python exercises, PHP exercises, C# exercises'
str_sub='Python exercises, PHP exercises, C# exercises'
pattern='exercises'
comp=re.compile(pattern)

for search in comp.finditer(str_sub):
    print(search)
    print(search.group())

<regex.Match object; span=(7, 16), match='exercises'>
exercises
<regex.Match object; span=(22, 31), match='exercises'>
exercises
<regex.Match object; span=(36, 45), match='exercises'>
exercises

# 19 question
#Question 19- Write a Python program to convert a date of yyyy-mm-dd format to dd-mm-yyyy format.

In [45]:
import datetime
from datetime import date
a=datetime.date.today()
a

datetime.date(2024, 5, 25)

In [46]:
b = datetime.date(2024, 5, 24)
print("original date:",b)
convert_date=b.strftime('%d-%m-%Y')
print("converted_date:",convert_date)

original date: 2024-05-24
converted_date: 24-05-2024

# 20 question
#Question 20- Create a function in python to find all decimal numbers with a precision of 1 or 2 in a string. The use of the re.compile() method is mandatory.

In [47]:
Sample_Text="01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"
pattern=r'\b\d*\.\d{1,2}\b'
regex_object=re.compile(pattern)
search_decimal_num=regex_object.findall(Sample_Text)
search_decimal_num

['01.12', '145.8', '3.01', '27.25', '0.25']

# Question 21
#Write a Python program to separate and print the numbers and their position of a given string.

In [48]:
#Write a Python program to separate and print the numbers and their position of a given string.
Sample_Text = "01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"
pattern=r'\s+'
sep_num=re.split(pattern,Sample_Text)
print(sep_num)

['01.12', '0132.123', '2.31875', '145.8', '3.01', '27.25', '0.25']

In [49]:
Sample_Text = " 01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"
pattern=r'\b\d+\.\d+\b'
comp_reg=re.compile(pattern)

for search in comp_reg.finditer(Sample_Text):
        print(search)
        print(search.group())

<regex.Match object; span=(1, 6), match='01.12'>
01.12
<regex.Match object; span=(7, 15), match='0132.123'>
0132.123
<regex.Match object; span=(16, 23), match='2.31875'>
2.31875
<regex.Match object; span=(24, 29), match='145.8'>
145.8
<regex.Match object; span=(30, 34), match='3.01'>
3.01
<regex.Match object; span=(35, 40), match='27.25'>
27.25
<regex.Match object; span=(41, 45), match='0.25'>
0.25

In [50]:
Sample_Text = " 01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"
pattern=r'\b\d+\.\d+\b'
match= re.finditer(pattern,Sample_Text)
for search in match:
    sep_num=search.group()
    num_position=search.span()
    print("sep_num:",sep_num,"index_num:",num_position)

sep_num: 01.12 index_num: (1, 6)
sep_num: 0132.123 index_num: (7, 15)
sep_num: 2.31875 index_num: (16, 23)
sep_num: 145.8 index_num: (24, 29)
sep_num: 3.01 index_num: (30, 34)
sep_num: 27.25 index_num: (35, 40)
sep_num: 0.25 index_num: (41, 45)

# 22 question

In [51]:
#Question 22- Write a regular expression in python program to extract maximum/largest numeric value from a string.
string_num='My marks in each semester are: 947, 896, 926, 524, 734, 950, 642'
pattern=r'\b\d+\b'
numeric_val=re.findall(pattern,string_num)
print(numeric_val)
if numeric_val:
    max_num=max(map(int,numeric_val))
    print("maximum num.:",max_num)
else:
    print('None')

['947', '896', '926', '524', '734', '950', '642']
maximum num.: 950

# 23 question

In [52]:
#Question 23- Create a function in python to insert spaces between words starting with capital letters.
add_spc='RegularExpressionIsAnImportantTopicInPython'
regex=r'(?=[A-Z])'
add_space=re.sub(regex," ",add_spc)
print(add_space)
#Expected Output: Regular Expression Is An Important Topic In Python

 Regular Expression Is An Important Topic In Python

# 24 question

In [53]:
#Question 24- Python regex to find sequences of one upper case letter followed by lower case letters
add_spc='RegularExpressionIsAnImportantTopicInPython'
pattern=r'^[A-Za-z]'
find_upper_lower=re.findall(pattern,add_spc)
print(add_space)

 Regular Expression Is An Important Topic In Python

# 25 question

In [54]:
#Question 25- Write a Python program to remove continuous duplicate words from Sentence using Regular Expression.
str_dupli="Hello hello world world"
#Expected Output: Hello hello world
partn=r'\b(\w+)(?:\W\1\b)+'
remove_duplicate=re.sub(partn,r'\1',str_dupli)
print(remove_duplicate)

Hello hello world

# Question 26

In [55]:
#Write a python program using RegEx to accept string ending with alphanumeric character.
alph_num = 'Datascience123 python program45 programming language365'
pattern = r'\b\w+\b'  
alpha_numeric = re.findall(pattern, alph_num)
print(alpha_numeric)

['Datascience123', 'python', 'program45', 'programming', 'language365']

In [56]:
alph_num='Datascience123 python program45 programming language365'
pattern=r'\b\w+$\b'
alpha_numeric=re.findall(pattern,alph_num)
print(alpha_numeric)

['language365']

In [57]:
alph_num = 'Datascience123 python program45 programming language365'
pattern= r'\b(?=\w*\d)(?=\w*[a-zA-Z])\w+\b'
alpha_numeric = re.findall(pattern, alph_num)
print(alpha_numeric)

['Datascience123', 'program45', 'language365']

# 27 question

In [58]:
#Question 27-Write a python program using RegEx to extract the hashtags.
hash_str='RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> "acquired funds" No wo'
pattern=r'#[\w]+'
search_hashtag=re.findall(pattern,hash_str)
print(search_hashtag)

['#Doltiwal', '#xyzabc', '#Demonetization']

# 28 question

In [59]:
sample_text = "@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who  are protesting #demonetization  are all different party leaders"
pattern = r'<U\+\w{4}+>'  
remove_text = re.sub(pattern, '', sample_text)
print(remove_text)

@Jags123456 Bharat band on 28??<ed><ed>Those who  are protesting #demonetization  are all different party leaders

# 29 question

In [60]:
#Question 29- Write a python program to extract dates from the text stored in the text file.
extract_date='Ron was born on 12-09-1992 and he was admitted to school 15-12-1999'
pattern=r'\d{2}-\d{2}-\d{4}+'
search_date=re.findall(pattern,extract_date)
print(search_date)

['12-09-1992', '15-12-1999']

# 30 question

In [61]:
#Question 30- Create a function in python to remove all words from a string of length between 2 and 4.
#The use of the re.compile() method is mandatory.
samp_string="The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly."
pattern=r'\b\w{2,4}\b'
regex_object=re.compile(pattern)
print(type(regex_object))
remove_str=regex_object.sub('',samp_string)
print(remove_str)

<class '_regex.Pattern'>
 following example creates  ArrayList  a capacity   elements. 4 elements   added   ArrayList   ArrayList  trimmed accordingly.