In [22]:
# 1 questions
def func(a, b):
    return b if a == 0 else func(b % a,a)
print(func(30, 75))

15

In [31]:
# 2nd questions
numbers = (4, 7, 19, 2, 89, 45, 72, 22)
sorted_numbers = sorted(numbers)
even = lambda a: a % 2 == 0
even_numbers = filter(even, sorted_numbers)
print(type(even_numbers))

<class 'filter'>

In [46]:
# we can write list and type also
numbers = (4, 7, 19, 2, 89, 45, 72, 22)
sorted_numbers = sorted(numbers)
even = lambda a: a % 2 == 0
even_numbers = filter(even, sorted_numbers)
print(list(even_numbers))
print(type(even_numbers))

[2, 4, 22, 72]
<class 'filter'>

In [43]:
# OR 
numbers = (4, 7, 19, 2, 89, 45, 72, 22)
sorted_numbers = sorted(numbers)
even = lambda a: a % 2 == 0
list(filter(even, sorted_numbers))

[2, 4, 22, 72]

In [48]:
# OR
numbers = (4, 7, 19, 2, 89, 45, 72, 22)
sorted_numbers = sorted(numbers)
even = lambda a: a % 2 == 0
even(4)

True

In [34]:
numbers = (4, 7, 19, 2, 89, 45, 72, 22)
even = lambda a: a % 2 == 0
list(filter(even,numbers))

[4, 2, 72, 22]

In [35]:
# we can wruite like this also
numbers = (4, 7, 19, 2, 89, 45, 72, 22)
list(filter(lambda a: a % 2 == 0,numbers))

[4, 2, 72, 22]

In [61]:
# questions 4
set1 = {14, 3, 55}
set2 = {82, 49, 62} 
set3 = {99,22,17}
print(len(set1+set2+set3))

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [60]:
# Correct way
set1 = {14, 3, 55}
set2 = {82, 49, 62} 
set3 = {99,22,17}
print(len(set1))
print(len(set2))
print(len(set3))

3
3
3

In [62]:
# question 5
print(4**3 + (7 + 5)**(1 + 1))

208

In [78]:
# question 17 
captains = {"Enterprise": "Picard",
             "Voyager": "Janeway",
             "Defiant": "Sisko",}
for ship, captain in captains.items():
 print(ship, captain)

Enterprise Picard
Voyager Janeway
Defiant Sisko

In [79]:
# or
captains = {"Enterprise": "Picard",
             "Voyager": "Janeway",
             "Defiant": "Sisko",}
for ship in captains:
 print(ship, captains[ship])

Enterprise Picard
Voyager Janeway
Defiant Sisko

In [80]:
# question 17
captains = {"Enterprise": "Picard",
             "Voyager": "Janeway",
             "Defiant": "Sisko",}

In [82]:
captains = {dict}
captains

{dict}

In [83]:
type(captains)

set

In [84]:
captains.dict()

AttributeError: 'set' object has no attribute 'dict'

In [86]:
captains = {}
captains

{}

In [130]:
# questions 18 enter the vaolye in empty dictionary
captains = {"Enterprise": "Picard",
 "Voyager": "Janeway",
 "Defiant": "Sisko",}
captains

{'Enterprise': 'Picard', 'Voyager': 'Janeway', 'Defiant': 'Sisko'}

In [107]:
# question 19
#Now, say you want to display the ship and captain names contained in the dictionary, but you also
# want to provide some additional context. How could you do it? its is correct
captains = {"Enterprise": "Picard",
 "Voyager": "Janeway",
 "Defiant": "Sisko",}
for ship, captain in captains.items():
 print(f"The {ship} is captained by {captain}.")

The Enterprise is captained by Picard.
The Voyager is captained by Janeway.
The Defiant is captained by Sisko.

In [114]:
#or 
for captain, ship in captains.items():
 print(f"The {ship} is captained by {captain}.")

The Picard is captained by Enterprise.
The Janeway is captained by Voyager.
The Sisko is captained by Defiant.

In [118]:
#not working
for item in captains.items():
 print(f"The [ship] is captained by [captain].")

The [ship] is captained by [captain].
The [ship] is captained by [captain].
The [ship] is captained by [captain].

In [109]:
#not working
for ship in captains.items():
 print(f"The {ship} is captained by {captain}.")

The ('Enterprise', 'Picard') is captained by Sisko.
The ('Voyager', 'Janeway') is captained by Sisko.
The ('Defiant', 'Sisko') is captained by Sisko.

In [135]:
# question 20
remove entry key of discovery
captains1 = {
 "Enterprise": "Picard",
 "Voyager": "Janeway",
 "Defiant": "Sisko",
 "Discovery": "unknown",
}

In [136]:
captains1.keys()

dict_keys(['Enterprise', 'Voyager', 'Defiant', 'Discovery'])

In [137]:
del captains["Discovery"]

KeyError: 'Discovery'